<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jakobsweg.entdeckedenjakobsweg" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".diary_overallview_milestones"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".welcome"
            android:label="@string/title_activity_welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".personal_administration"
            android:label="@string/title_activity_personal_administration" >
        </activity>
        <activity
            android:name=".overallview_milestones"
            android:label="@string/title_activity_overallview_milestones" >
        </activity>
        <activity
            android:name=".diary_entry"
            android:label="@string/title_activity_diary_entry" >
        </activity>
        <activity
        android:name=".information_milestone_11"
        android:label="@string/title_activity_information_milestone_11" >
    </activity>
        <activity
            android:name=".information_milestone_12"
            android:label="@string/title_activity_information_milestone_12" >
        </activity>
        <activity
            android:name=".information_milestone_19"
            android:label="@string/title_activity_information_milestone_19" >
        </activity>
        <activity
            android:name=".information_milestone_23"
            android:label="@string/title_activity_information_milestone_23" >
        </activity>
        <activity
            android:name=".information_highlight_milestone_12_burgos_plaza_mayor"
            android:label="@string/title_activity_information_highlight_milestone_12_burgos_plaza_mayor" >
        </activity>
        <activity
            android:name=".information_highlight_milestone_12_burgos_catedral"
            android:label="@string/title_activity_information_highlight_milestone_12_burgos_catedral" >
        </activity>
        <activity
            android:name=".information_highlight_milestone_19_oldtown_leon"
             >
        </activity>
        <activity
            android:name=".information_highlight_milestone_11_iglesia_monacal"
            >
        </activity>
    </application>

</manifest>
